<configuration>
  <configSections>
    <section name="MongoConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <MongoConfig>
    <add key="MongoConnectionString" value="mongodb://{0}:{1}@ds111788.mlab.com:11788/character_gen_tests"/>
    <add key="MongoUsername" value="Admin"/>
    <add key="MongoPassword" value="Admin"/>
  </MongoConfig>
</configuration>